<mat-card class="example-card mt-5">
    <mat-card-title-group>
      <mat-card-title>Registra tu funko</mat-card-title>
    </mat-card-title-group>
    <mat-card-content class="pt-5">
        <div class="row">
            <div class="col-6">
                <strong>Registra tu funko</strong> es una app que te permite registrar tus colecciones de funkos. Sólo debes crear una cuenta y empezar a crear tus registros con tus propias categorías.
            </div>
            <div class="col-4">
                <img  mat-card-image src="../assets/images/principal.jpg">
            </div>
        </div>
    </mat-card-content>
  </mat-card>